<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ПДФина</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
</head>

<body id="page-top">

<div class="container" th:if="${status ne null}">
    <form>
        <div class="form-group mb-3">
            <label for="statusInput">
                Статус
            </label>
            <input th:value="${status}"
                   type="text"
                   class="form-control"
                   id="statusInput">
        </div>

        <div class="form-group mb-3">
            <label for="messageInput">
                Сообщение
            </label>

            <input th:value="${message}"
                   type="text"
                   class="form-control"
                   id="messageInput">
        </div>
    </form>
</div>

<div class="container"
     th:if="${message eq null}">

    <form method="post" th:action="@{/upload}" enctype="multipart/form-data" th:object="${checkParam}">
        <div class="mb-3">
            <input class="form-control-file"
                   type="file"
                   name="file"/>
        </div>

        <label for="profile" class="form-label">Формат документа</label>
        <div class="input-group mb-3">
            <select class="form-select" id="profile" th:field="*{format}">
                <option th:each="format : ${formatList}"
                        th:value="${format}"
                        th:text="${format}"></option>
            </select>
        </div>

        <div>
            <button class="btn btn-primary d-block w-100"
                    type="submit"
                    id="btnFetch">
                Отправить
            </button>
        </div>
    </form>
</div>

<script th:src="@{assets/js/jq.min.js}"></script>
<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/chart.min.js}"></script>
<script th:src="@{assets/js/bs-init.js}"></script>
<script th:src="@{assets/js/theme.js}"></script>
<script th:src="@{assets/js/uploader.js}"></script>
</body>

</html>